# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### IntelliJ
.idea/*
!.idea/prettier.xml
!.idea/vcs.xml
!.idea/externalDependencies.xml
!.idea/fileTemplates
!.idea/codeStyles
!.idea/copyright

# ignore local run configuration
application-local.properties